.footer-widget {
      padding: 10px;
}

footer {
    margin-bottom: 0 !important;
    background: $primary;
    color: $white;

    & > div {
        padding: 1rem;

        .social {
            padding: 0.7rem;
            color: $white;
        }

        @include until($tablet) {
            padding: 0.6rem;

            .social {
                padding: 0;

                .icon {
                    font-size: 18px;
                    height: 24px;
                    line-height: 24px;
                }
            }
        }
    }

    .level-right.copyright {
        margin-top: 0;
        font-family: $family-header;
        font-size: $size-5;
    }
}
