.gallery {
    &.columns.flex-wrap {
        margin-bottom: 0;

        .column {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @include from($tablet) {
        margin: auto -50px;
    }

    .gallery-image {
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}

.gallery-tile {
    .tile {
        background-size: cover;
        background-position: center;

        &.is-child {
            min-height: 15rem;
        }
    }
}
