.bg-stone {
    background: $stone !important;
}

.bg-rose {
    background: $rose !important;
}

.bg-navy {
    background: $navy !important;
}

.social {
    color: $grey-light;
    background: none;
}
