.preview {
    text-align: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    &.text-right {
        .image-column {
            order: 1;
        }
        .text-column {
            order: 2;
        }
    }

    &.text-left {
        .image-column {
            order: 2;

            @include from($tablet) {
                figure {
                    float: right;
                }
            }
        }
        .text-column {
            order: 1;
        }
    }

    figure, .about-instagram {
        position: relative;
        background-size: cover;
        background-position: center;
        border: 1px solid #F1F1F1;
        height: 300px;
        width: 100%;

        @include from($tablet) {
            top: -3rem;
            height: 400px;
            width: 120%;
            border-radius: 5px;
            margin-left: 3rem;
            margin-right: 3rem;
            z-index: 1;
        }

        @include from($desktop) {
            width: 110%;
        }
    }

    .about-instagram {
      border: none;
      display: none;
      margin-top: 1rem;
      margin-bottom: 1rem;

      @include from($tablet) {
         display: block;
      }
   }

    .preview-text {
        position: relative;
        margin: 0 1rem;
        z-index: 10;

        &.wide-layout {
            margin: 0 auto;
        }

        @include until($tablet) {
            top: 0rem;
            padding-top: 2rem;
            padding-bottom: 2rem;

            h1 {
                text-align: center;
            }
        }

        @include from($tablet) {
            padding: 4rem 0;
            margin: 0 4rem;
        }

        p {
            text-align: justify;
        }

        label.category {
            background: $primary;
            padding: 0.5rem 1rem;
            color: white;
            position: absolute;
            top: -19px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 175px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .title {
            font-size: $size-1;
            margin-bottom: 0;

            @include until($tablet) {
                font-size: $mobile-size-1;
            }
        }

        date {
            position: absolute;
            bottom: -1.5rem;
            font-size: 35px;
            background: white;
            padding: 0 0.5rem;
            left: 0;
            right: 0;
            width: 120px;
            margin: auto;
            text-align: center;
        }

        .preview-excerpt {
            display: block;
            max-width: 80%;
            margin: 0 auto;
            text-align: justify;

            @include from($tablet) {
                max-width: 60%;
            }

            @include from($desktop) {
                display: block;
                max-width: 70%;
            }

            ul.preview-list {
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                li {

                    // display: inline-block;
                    //
                    &:after {
                        content: "•";
                        padding: 0 5px;
                    }
                    &:last-child {
                        &:after { content: '' }
                    }
                }
            }
        }

        .read-more {
            text-align: center;
            display: block;
            margin-top: 1rem;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }
}
