.box {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 1.5rem;
    position: relative;

    &:before {
        content: "";
        border: 4px solid transparent;
        border-image: linear-gradient(to bottom right, #C79A43 0%, #453519 100%);
        border-image-slice: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    @include from($tablet) {
        &.box-left {
            label.category, date {
                right: -4rem;
            }

            &:before {
                right: -4rem;
            }
        }
        &.box-right {
            label.category, date {
                left: -4rem;
            }

            &:before {
                left: -4rem;
            }
        }
    }
}
