body {
    font-family: $family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $family-header;
    font-weight: normal;

    a {
        font-family: $family-header;
        color: $grey-dark;
        font-weight: normal;
    }
}

date {
    font-family: $family-cursive;
}
