body {
    font-family: $family-sans-serif;
    font-size: $size-5;
}

@include from($tablet) {
    .admin-bar {
        main {
            padding-top: $nav-height + 32px;
        }

        header .nav {
            top: 32px;
        }
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

main {
    padding-top: $nav-height;
}

p {
    margin-bottom: 2rem;
    overflow: hidden;
}

.content a:not(.button) {
    border-bottom: none;
}

section.section {
    padding: 0 0 10rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $family-header;
    font-weight: normal;

    a {
        font-family: $family-header;
        color: $grey-dark;
        font-weight: normal;
    }
}
.title {
    font-weight: normal;
    text-transform: uppercase;
}

date {
    text-decoration: none;
    color: $grey-dark;
    font-family: $family-cursive;
}

.bg-stone {
    background: $stone !important;
}

.bg-rose {
    background: $rose !important;
}

.bg-navy {
    background: $navy !important;
}

.is-visible {
    visibility: visible !important;
}
