header {
    .nav {
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    	/* Force Hardware Acceleration */
    	transform: translateZ(0);
    	will-change: transform;
    	transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;

        .nav-center {
            flex: 1;
            justify-content: space-around;

            aside.menu {
                position: absolute;
                visibility: hidden;
                top: 100%;
                background: white;

                @include until($tablet) {
                    left: 0;
                    right: 0;
                }

                ul.menu-list {
                    li {
                        a {
                            padding: 1rem 2rem;

                        }
                    }
                }
            }

            .custom-logo-link {
                padding: 1rem 1.3rem;

                @include until($tablet) {
                    position: absolute;
                    width: 150px;
                    padding: 1rem 0;
                }
            }

            .nav-item {
                @include until($tablet) {
                    margin-top: 3rem;
                    padding: 0.75rem 0.5rem 0.75rem;
                    font-size: $size-6;
                }
            }
        }


    	&.hide {
    		transform: translateY(-100%);
    		-webkit-transform: translateY(-100%);
    	}
    }
}
