label.category {
    background: $primary;
    padding: 0.5rem 1rem;
    color: white;
    position: absolute;
    top: -1.1rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 175px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title {
    margin-top: 20px;
    font-size: $size-1;

    @include until($tablet) {
        font-size: $mobile-size-1;
    }
}

.preview-text {
    padding-left: 2rem;
    padding-right: 2rem;
    @include until($tablet) {
        position: relative;
        top: -3.5rem;
    }
}

date {
    position: absolute;
    bottom: -1.5rem;
    font-size: 35px;
    background: white;
    padding: 0 0.5rem;
    left: 0;
    right: 0;
    width: 90px;
    margin: auto;
    text-align: center;
}
