.text-left {
    figure {
        order: 2
    }
}
.preview {
    text-align: center;

    p {
        display: block;
        max-width: 300px;
        margin: 0 auto;
        text-align: justify;
    }

    .text-wrapper {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    @include from($tablet) {
        &.text-left {
            padding-left: 0rem;
            padding-right: 0rem;
            label.category, date {
                right: -4rem;
            }

            .box:before {
                right: -4rem;
            }

            p {
                text-align: justify;
            }
        }
        &.text-right {
            padding-left: 0rem;
            padding-right: 0rem;
            label.category, date {
                left: -4rem;
            }

            .box:before {
                left: -4rem;
            }

            p {
                text-align: justify;
            }
        }
    }
}


.preview-text {
    position: relative;

    @include until($tablet) {
        top: -3.5rem;
        h1 {
            text-align: center;
        }
    }
    @include from($tablet) {
        padding-right: 2rem;
        padding-left: 0rem;

        &.wide-layout {
            top: -3.5rem;
        }
    }



        label.category {
            background: $primary;
            padding: 0.5rem 1rem;
            color: white;
            position: absolute;
            top: -1.1rem;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 175px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .title {
            margin-top: 20px;
            font-size: $size-1;

            @include until($tablet) {
                font-size: $mobile-size-1;
            }
        }

        date {
            position: absolute;
            bottom: -1.5rem;
            font-size: 35px;
            background: white;
            padding: 0 0.5rem;
            left: 0;
            right: 0;
            width: 90px;
            margin: auto;
            text-align: center;
        }
}

.wide {
    @include until($tablet) {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: $tablet;
        }
    }
}

.box {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 3rem 1.5rem;
    position: relative;
    margin-bottom: 2rem;

    &.half {
        &:before {
            border-top: none;
            border-right: none;
        }

        date {
            font-size: 46px;
            color: white;
        }
    }

    &.bottom {
        padding: 0 0 1rem 0;
        &:before {
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    &:before {
        content: "";
        border: 3px solid transparent;
        border-image: linear-gradient(to right, #C79A43 0%, #453519 100%);
        border-image-slice: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
