.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.overlay {
        position: relative;

        &:before {
            @include overlay();
            content: '';
            background: transparentize($grey-darker, 0.8);
        }
    }

    .container {
        display: flex;

        &.is-left {
            justify-content: flex-start;
        }

        &.is-center {
            justify-content: center;
        }

        &.is-right {
            justify-content: flex-end;
        }
    }

    .title {
        font-size: 72px;
        color: white;

        @include until($tablet) {
            font-size: $size-1;
        }
    }
}
article.single  {
    max-width: $tablet;
    margin: 2rem auto;

    @include until($tablet) {
        p {
            text-align: justify;
        }
    }

    @include until($tablet) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    blockquote {
        @extend .half-box;
        border-left: none;
        font-size: $size-3;
        padding: 1.5rem;

        p:last-child {
            display: block;
            font-family: 'MrsGlows';
            font-size: 55px;
            text-align: right;
            margin-bottom: 0;
            line-height: 1;
        }
    }
}

.social {
    color: $grey-light;
}
