.gallery {
    &.columns.flex-wrap {
        margin-bottom: 0;
    }

    @include from($tablet) {
        margin: auto -100px;
    }

    .gallery-image {
        background-size: cover;
        background-position: center;
    }
}

.gallery-tile {
    .tile {
        background-size: cover;
        background-position: center;

        &.is-child {
            min-height: 15rem;
        }
    }
}
