body {
    font-family: $family-sans-serif;
    font-size: $size-5;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: white;
        z-index: 9999;
    }

    &.loaded {
        &:after {
            content: none;
        }
    }

    // bulma doesn't drill down for its tag class
    // so the body for tag archives gets this class added
    &.tag {
        height: initial;
        align-items: initial;
        background-color: initial;
        border-radius: initial;
        color: initial;
        display: initial;
        font-size: initial;
        justify-content: initial;
        line-height: initial;
        padding-left: initial;
        padding-right: initial;
        vertical-align: initial;
        white-space: initial;
    }
}

@include from($tablet) {
    .admin-bar {
        main {
            padding-top: $nav-height;
        }

        header .nav {
            top: 32px;
        }
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

main {
    padding-top: $nav-height;
}

p {
    margin-bottom: 2rem;
    overflow: hidden;
}

.content a:not(.button) {
    border-bottom: none;

    &:visited {
        color: $dark;
    }
}

section.section {
    padding: 0 0 10rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $family-header;
    font-weight: normal;

    a {
        font-family: $family-header;
        color: $grey-dark;
        font-weight: normal;
    }
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

h5 {
    font-size: $size-5;
}

.title {
    font-weight: normal;
    text-transform: uppercase;
}

.font-cursive {
    font-family: $family-cursive;
    h1, h2, h3, h4, h5, p, a {
        font-family: $family-cursive;
    }

    p {
        font-size: $size-2;
    }
}

h1 .font-cursive {
    color: white;
    font-size: 75px;

    @include from($tablet) {
        font-size: 150px;
    }
}

.single-post .preview-only {
    display: none;
}

ul.header-list {
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 1.5rem;

    li {
        display: inline-block;
        padding: 0 1rem;
        border-right: 1px solid;

        &:last-child {
            border-right: none;
        }
    }
}

.content blockquote {
    border-left: none;
    padding: 2.5rem 2.5rem 1.5rem;
    letter-spacing: 2px;
    border-left: 5px solid #d2d2d2;
    line-height: 2;

    &.credits {
        margin-top: 1rem;
        border-left: none;

        a {
            color: $dark
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
            text-transform: uppercase;
            font-family: $family-header;
        }
    }
}

.text-left {
    figure {
        order: 2
    }
}

date {
    text-decoration: none;
    color: $grey-dark;
    font-family: $family-cursive;
}

.is-visible {
    visibility: visible !important;
}
