.page-layout {

    figure {
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-size: cover;

        @include until($tablet) {
            height: 400px;
        }
    }

    article.page {
        padding: 3rem 2rem;
        @include until($tablet) {
            padding: 3rem 1rem;

            p {
                text-align: justify;
            }
        }

        .title {
            font-size: $size-2;
        }
    }
}

.contact-info.columns.is-gapless {
    margin-top: 5rem;

    @include until($tablet) {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}
