.page-layout.about-page {
    margin-bottom: 5rem;

    figure {
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-size: cover;
        box-shadow: $box-shadow;

        @include until($tablet) {
            height: 400px;
        }
    }

    article.page {
        padding: 3rem 2rem;
        @include until($tablet) {
            padding: 3rem 1rem;

            p {
                text-align: justify;
            }
        }
        @include from($tablet) {
            position: relative;
            left: -2rem;
            bottom: -3rem;
            background: white;
            margin-bottom: 1rem;
            padding: 7rem;
        }

        .title {
            font-size: $size-2;
        }
    }
}

.contact-info.columns.is-gapless {
    margin-top: 5rem;

    @include until($tablet) {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}
