.home-hero {
    @include until($tablet) {
        background-position: 25% bottom;
    }

    background-position: center bottom;

    .container {
        height: 100%;
        display: flex;
        align-items: center;

        h1 {
            font-size: 130px;
        }
    }
}

.hero.is-medium {
    &.single-hero {
        .box {
            margin: 7rem 0;
        }
    }

    .hero-body {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
